
<mat-sidenav-container fullscreen>
      <h1>Bienvenido</h1>
      <div fxLayout="row" fxLayoutGap="40px">

        <div fxFlex="50" fxLayout="column">
          <button mat-raised-button
                      color="primary"
                      (click)="login()">
                  Ingresar
          </button>
        </div>
        <br>
        <div fxFlex="50">
          <button mat-raised-button
          color="warn"
          (click)="ingresarSinLogin()">
          Ingresar sin login
          </button>
        </div>

      </div>


</mat-sidenav-container>
