<p>error-page works!</p>

<ul>
  <li>
    <a routerLink ="/auth/login">
      Ir a login
    </a>
  </li>

  <li>
    <a routerLink ="/auth/registro">
      Ir a registro
    </a>
  </li>

  <li>
    <a routerLink ="/heroes/listado">
      Ir a listado de heroes
    </a>
  </li>

  <li>
    <a routerLink ="/heroes/agregar">
      Ir a agregar heroe
    </a>
  </li>
  <li>
    <a routerLink ="/heroes/editar/:id">
      Ir a editar heroe
    </a>
  </li>
  <li>
    <a routerLink ="/heroes/buscar">
      Buscar heroe
    </a>
  </li>
  <li>
    <a routerLink ="/heroes/:id">
      Ver heroe
    </a>
  </li>


</ul>
